html, body {
	height: 100%;
}

body {
	padding-top: 50px;
}

.navbar-custom .icon-bar {
	background-color: #fff;
}

.navbar-custom {
	background-color: #1a1a1a;
	color: #fff; 
}
.navbar-custom a{
    color:#fff;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
	height:100%;
}

#map-canvas {
	width:66.666%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
}
